/* Footer */
.footer {
  background: var(--bg-tertiary);
  color: var(--text-primary);
  padding: 50px;
  transition: background-color 0.3s ease;
  border-top: 1px solid var(--border-color);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.footer-info h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 700;
  color: var(--text-primary);
}

.footer-info p {
  color: var(--text-secondary);
}

.footer-socials {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.footer-socials a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: anchor-center;
    gap: 8px;
}

.footer-socials a:hover {
  color: var(--accent-primary);
}

.footer-bottom {
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid var(--border-color);
  color: var(--text-tertiary);
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom span {
  display: inline-block;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-socials {
    justify-content: center;
  }
}
